<section class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Integra la API de Google Maps en Angular</h1>
      <h2 class="subtitle mt-4">
        En esta clase en vivo tu profesor del Curso de Fundamentos de angular Nicolas Molina @nicobytes te enseñará cómo integrar la API de Google Maps para poder calcular rutas óptimas de un punto a otro. Todo esto usando Angular como framework de desarrollo.
      </h2>
      <p>
        <a routerLink="/route" class="button is-white is-large">Calcular ruta</a>
      </p>
    </div>
  </div>
</section>
